@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'D2Coding', sans-serif !important;
}

#scroll-btn {
    opacity: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #ef476f;
    position: fixed;
    bottom: 13%;
    right: 10%;
    border: 2px solid #fff;
    border-radius: 50%;
    font: 2px monospace;
    transition: opacity 2s, transform 2s;
}

#scroll-btn.show {
    opacity: 1;
    transition: opacity 5s, transform 5s;
}

#scroll-btn2 {
    opacity: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #ef476f;
    position: fixed;
    bottom: 5%;
    right: 10%;
    border: 2px solid #fff;
    border-radius: 50%;
    font: bold 10px monospace;
    transition: opacity 2s, transform 2s;
}

#scroll-btn2.show {
    opacity: 1;
    transition: opacity 5s, transform 5s;
}