<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sunmoon.app.repository.CustomerRepository">

    <select id="selectByOne" parameterType="String" resultType="CustomerDTO">
        SELECT * FROM cust WHERE id=#{id}
    </select>
    <select id="select" resultType="CustomerDTO">
        SELECT * FROM cust
    </select>
    <insert id="insert" parameterType="CustomerDTO">
        INSERT INTO cust VALUES (#{id},#{pwd},#{name})
    </insert>
    <update id="update" parameterType="CustomerDTO">
        UPDATE cust SET pwd=#{pwd},name=#{name} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM cust WHERE id=#{id}
    </delete>

</mapper>