<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sunmoon.app.repository.CustomerRepository">

    <select id="selectById" parameterType="String" resultType="CustomerDTO">
        SELECT * FROM customer WHERE id=#{id}
    </select>
    <select id="select" resultType="CustomerDTO">
        SELECT * FROM customer
    </select>
    <select id="SelectByName" parameterType="String" resultType="CustomerDTO">
        SELECT * FROM customer WHERE name LIKE CONCAT('%',#{name},'%')
    </select>
    <insert id="insert" parameterType="CustomerDTO">
        INSERT INTO customer VALUES (#{id},#{pw},#{name})
    </insert>
    <update id="update" parameterType="CustomerDTO">
        UPDATE customer SET pwd=#{pw},name=#{name} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM customer WHERE id=#{id}
    </delete>

</mapper>