<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerRepository" class="edu.sunmoon.repository.CustomerRepository"/>
    <bean id="customerOracleRepository" class="edu.sunmoon.repository.CustomerOracleRepository"/>
    <bean id="customerService" class="edu.sunmoon.service.CustomerService">
        <property name="repository" ref="customerOracleRepository"/>
<!--        <constructor-arg ref="customerRepository"></constructor-arg>-->
    </bean>
</beans>